<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Alex's To-Do List</title>
  <link rel='stylesheet' type='text/css' href='style.css'>
</head>
<body>
  <h1>Alex's To Do List</h1>
  <ul>
    <% @task.each do |task| %>
    <li>
      <a href='/delete/<%= task.id %>'>
        <label>Done</label>
      </a>
      <%= task.description %>
      <% unless blank? task.due_date %> <em> - <%= task.due_date %></em><% end %>
    </li>
    <% end %>
  </ul>
  <form action='/' method='POST'>
    Add item to list:
    <input type='text' name='description' placeholder='Item' />
    <input type='text' name='due_date' placeholder='Date [yyyy/mm/dd]' />
    <input type='submit' value='Add'>
  </form>
</body>
